.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-size: cover; /* This property ensures the image covers the entire container */
  background-position: center; /* Center the image within the container */
  background-repeat: repeat; /* Prevent the image from repeating */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom_navbar{
  max-width: 700px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 0 auto;
  margin: 40px auto 0; 
  height: 43px;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  
}

.nav_part {
  width: 200px;
  text-align: center;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;  
  

}

.btn_outline_primary {
  color: #007bff; /* цвет текста */
  background-color: transparent; /* прозрачный фон */
  border-color: #007bff; /* цвет границы */
  
}

.btn_outline_primary:hover {
  color: #fff; /* цвет текста при наведении */
  background-color: f0f8ff; /* фон при наведении */
  border-color: #007bff; /* цвет границы при наведении */
}

.ButtonGroup {
  margin-top: 20px;
}

.blue_box {
  background-color: rgb(24,53,93);
  background: linear-gradient(to bottom right, rgb(65,169,207), rgb(24,53,93));
  max-width: 400px;
  width: 100vw;
  height: 100vh;
  max-height: 500px;
  border-radius: 40px;
  margin-top: 5%; /* Используем проценты для margin-top */

}

@media screen and (max-width: 600px) {
  .blue_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.info_form {
  margin: 40px 20px 0;
  display: flex;
  justify-content: center; /* Выравнивание по центру главной оси */
  align-items: center; /* Выравнивание по центру поперечной оси */
}


.flex-item{
  background-color: #f0f8ff;
}

h1{
  margin-top: 10%;
  text-align: center;
  color: white;  
}

.btn_clear{
  margin-top: 40px;
}

.blue_background{
  background-color: #f0f8ff;
}


.center-line {
  width: 2px;
  height: 100%;
  background-color: #000; /* цвет линии */
  margin-left: 25%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  font-family: 'Avenir Next', sans-serif;
  color: black;
  text-align: right;
  text-shadow: #000;
  position: relative;
}

.image-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%) scale(0.6);;
}

.center-line:hover .image-popup {
  display: block;
}

.introducing{
  font-family: 'Avenir Next', sans-serif;
  color: orangered;
  text-transform: uppercase;
  margin:30px 0 0 25%;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.name_direction{
  margin: 40px 0  37px 25%; 
  font-family: 'Avenir Next', sans-serif;
  color: black;
  text-shadow: #000;
  text-align: left;
}

a {
  color: white;
  /* text-decoration: none;  */
}

.calculator{
  color: white;
}

.navbar-toggler{
  position: absolute;
  right: 0.5cm;
}
