.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .backgroundImage{
  direction: center;
  justify-content: center;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom_navbar{
  width: 700px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 0 auto;
  margin: 40px auto 0; 
  height: 43px;

  ;
}

.nav_part {
  width: 200px;
  text-align: center;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;  
  

}

.btn_outline_primary {
  color: #007bff; /* цвет текста */
  background-color: transparent; /* прозрачный фон */
  border-color: #007bff; /* цвет границы */
  
}

.btn_outline_primary:hover {
  color: #fff; /* цвет текста при наведении */
  background-color: f0f8ff; /* фон при наведении */
  border-color: #007bff; /* цвет границы при наведении */
}

.ButtonGroup {
  margin-top: 20px;
}

.blue_box {
  background-color: rgb(24,53,93);
  background: linear-gradient(to bottom right, rgb(65,169,207), rgb(24,53,93));
  width: 400px;
  height: 500px ;
  margin-top: 20px;
  border-radius: 20px;
}

.info_form{
  margin: 40px 0 0 40px;
  width: 300px;
  
}

.flex-item{
  background-color: #f0f8ff;
}

h1{
  margin-top: 20px;
}

.btn_clear{
  margin-top: 40px;
}

.blue_background{
  background-color: #f0f8ff;
}