.App {
  text-align: center;
}

body {
  overflow: hidden;
}

@media (max-height: 450px) {
  body {
    overflow: scroll;
  }
}

.main {
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media (max-height: 450px) {
  .main {
    overflow: scroll;
  }
}

.custom_navbar{
  max-width: 700px;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 0 auto;
  margin: 40px auto 0; 
  height: 43px;
  /* font-size: calc(10px + 2vmin); */
  width: 100vw;
}

@media (max-height: 280px) {
  .custom_navbar  {
    margin: 6px auto 0;
  }
}

@media (max-width: 992px) {
  .custom_navbar .navbar-collapse {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 993px) {
  .custom_navbar .navbar-collapse {
    display: block;
  }
}


.nav_part {
  width: 200px;
  text-align: center;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: calc(8px + 2vmin);
  color: #332f2c;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .nav_part {
    justify-content: flex-start;
    margin-left: 30px;
  }
}

.navbar-brand{
  display: flex;
}

@media (min-width: 991px) {
  .navbar-brand {
    display: none; 
  }
}

.navbar-toggler{
  position: absolute;
  right: 0.5cm;
}

@media (max-width: 991px) {
  .navbar-toggler-icon {
    display: block; 
  }

  .navbar-toggler {
    display: show; 
  } 

  .navbar-expand-lg .navbar-nav {
    flex-direction: column; 
    display: none;
  }

  .navbar-expand-lg .navbar-nav.show {
    display: flex; 
  }
}

.btn {
  color: black; 
  background-color: lightblue;
  border-color: cornflowerblue;
  border-width: 0.001px;
}


.btn.btn-primary {
  color: white; 
  background-color: transparent; 
  border-color: lightblue; 
  border-width: 0.001px;
}

.ButtonGroup {
  margin-top: 20px;
}

.blue_box {
  background-color: rgb(24,53,93);
  background: linear-gradient(to bottom right, rgb(65,169,207), rgb(24,53,93));
  max-width: 350px;
  width: 100vw;
  height: 100vh;
  max-height: 450px;
  border-radius: 40px;
  margin-top: 5%;
}

@media screen and (min-width: 768px) and (max-width: 3000px){
  .blue_box {
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 400px;
  }
}

@media screen and (min-height: 1300px) and (min-width: 1000px){
  .blue_box {
    margin-top: 15%;
    margin-bottom: 5%;
    /* max-width: 400px; */
  }
}

@media screen and (min-height: 768px) and (max-height: 1300px) {
  .blue_box {
    margin-top: 15%;
    margin-bottom: 5%;
    max-width: 350px;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .blue_box {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

@media (min-width: 1200px) {
  .blue_box {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 400px;
  }
}

@media (max-height: 450px) {
  .blue_box {
    margin-top: 2%;
    margin-bottom: 5%;
    max-width: 600px;
    max-height: 350px;
  }
  
  .btn-group {
    margin-top: 1%;
  }
  
  .info_form {
    margin: 10px 5px 0;
  }
}

@media (max-height: 280px) {
  .custom_navbar  {
    margin: 6px auto 0;
  }
}

.blue_box_info {
  background-color: rgb(24,53,93);
  background: linear-gradient(to bottom right, rgb(65,169,207), rgb(24,53,93));
  max-width: 1000px;
  width: 100vw;
  height: auto; 
  max-height: 400px;
  border-radius: 40px;
  margin-top: 10%;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .blue_box_info {
    margin-top: 7%;
    margin-bottom: 5%;
  }
}

@media (max-height: 450px) {
  .blue_box_info {
    margin-top: 1%;
  }
}

.info_form {
  margin: 40px 20px 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

@media (max-height: 450px) {
  .info_form {
    margin: 10px 5px 0 0;
  }
  .form-control {
    text-align: center;
  }
}

.flex-item{
  background-color: #f0f8ff;
  /* text-align: center; */
}

h1{
  flex-direction: column;
  color: white;  
  margin-top: 10%;
  display: flex;
}

@media (max-height: 450px) {
  h1 {
    margin-top: 2%;
  }
}


h2{
  flex-direction: column;
  color: white;  
  display: flex;
}

.btn_clear{
  margin-top: 40px;
}

.blue_background{
  background-color: #f0f8ff;
}

.center-line {
  width: 2px;
  height: 29vmin; 
  background-color: #000;
  margin: 20px 0 0 35%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  text-align: right;
}

@media (min-height: 1251px) {
  .center-line {
    height: 50vmin;
  }
}

@media (min-height: 1000px) and (max-height: 1250px) {
  .center-line {
    height: 40vmin;
  }
}

@media (max-height: 600px) {
  .center-line {
    height: 10vmin;
  }
}

@media (min-height: 690px) and  (max-height: 750px) {
  .center-line {
    height: 32vmin; 
  }
}

@media (min-height: 760px) and (max-height: 787px){
  .center-line {
    height: 40vmin;
  }
} 

@media (min-height: 804px) and (max-height: 950px) {
  .center-line {
    height: 56vmin;
  }
}

@media (min-width: 1500px) {
  .center-line {
    height: 30vmin;
  }
}

.center-line_1{
  padding-right: 20px;
}

@media (max-width: 285px) {
  .center-line_1 {
    padding-right: 5px;
  }
}

.introducing{
  font-family: 'Avenir Next', sans-serif;
  color: orangered;
  text-transform: uppercase;
  margin:30px 0 0 25%;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: row;
}

.name_direction{
  margin: 40px 0  37px 25%; 
  font-family: 'Avenir Next', sans-serif;
  color: black;
  text-align: left;
}

a {
  color: white;;
}

.custom-link {
  color: green;;
}

.calculator{
  color: white;
  margin-top: 10px;
  padding-bottom: 30px;
}

@media (max-height: 450px) {
  .calculator {
    margin-top: 5px;
    padding-bottom: 10px;
  }
}

.resources{
  margin-bottom: 30px;
}

p{
  color: white;
}

.offcanvas-header{
  margin-left: 300px;
  padding-top: 20px;
}

